/* standard icon size */
.svi {
  fill: green;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

/* svg icon with default background */
.svi svg {
  fill: white;
  height: 60%;
  width: 60%;
}

/* inverse svg icon inverse with background color */
:not(svg).svi {
  height: 1.25em;
  width: 1.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

/* circle background for icon */
.svi.svi-circle {
  border-radius: 100%;
}
/* rounded square background for icon */
.svi.svi-round {
  border-radius: 20%;
}

/* hover over standard icon */
a:hover svg.svi {
  fill: darkgreen;
}
/* hover over icon with background */
a.svi:hover,
a:hover :not(svg).svi {
  background-color: darkgreen;
}

/* custom classess */
.icons {
  display: flex;
}
.icons > * {
  margin: 10px;
}
.icons .svi {
  height: 40px;
  width: 40px;
}

.svi.larger {
  height: 2.4em !important;
  width: 2.4em !important;
}
:not(svg).svi.larger {
  height: 3em !important;
  width: 3em !important;
}

li {
  padding: .25em 0;
}

a,
a:visited {
  color: green;
  text-decoration: none;
}
a:hover {
  color: darkgreen;
}
